<form ng-submit = "saveParty()" class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="partyName">first Name</label>
    <input ng-model="newParty.name" type="text" class="form-control" id="partyName" placeholder="Enter your first name">
  </div>
  
  <div class="form-group">
    <label class="sr-only" for="phoneNumber">Phone Number</label>
    <input ng-model="newParty.phone" type="text" class="form-control" id="phoneNumber" placeholder="phone number">
  </div>
  
  <button type="submit" class="btn btn-primary">Let's Do it!</button>
</form>



    <div class="well" style="margin-top: 1em">
    <table class="table">
      <thead>
        <tr>
          <th>Complete?</th>
          <th>First Name</th>
          <th>Number</th>
          <th>Edit</th>
         <th>Action</th>
         
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, party) in parties">
          <td><input type="checkbox"/></td>
          <td ng-hide="editing">{{party.name}}</td>
          <td ng-show="editing"><span><input type="text" ng-model="party.name" />
         </span>
          <span ng-hide="editing"><a ng-click="editing = true"><i class="glyphicon glyphicon-pencil"></i></a></span>
       </td>

           <td ng-hide="editing">{{party.phone}}</td>
          <td ng-show="editing"><span><input type="text" ng-model="party.phone" /></span></td>
       
          <td>
              <button class="btn btn-primary" ng-hide="editing" ng-click="editing = true">edit</button>
                <button type="submit" class="btn btn-success" ng-show="editing" ng-click="editing = false">
                  done
                </button>
              </td>
              <td>                
                <button ng-click="parties.$remove(key)" ng-hide="editing" type="submit" class="btn btn-danger">remove</button>
              <button ng-click="sendTextMessage(party.phone)" ng-hide="editing" type="submit" class="btn btn-success">send sms</button>

          </td>
         
        </tr>
        </table>
        </div>